<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>ClashDisplay-Bold.otf</string>
		<string>ClashDisplay-Semibold.otf</string>
		<string>ClashDisplay-Medium.otf</string>
		<string>ClashDisplay-Regular.otf</string>
		<string>ClashDisplay-Light.otf</string>
		<string>ClashDisplay-Extralight.otf</string>
	</array>
</dict>
</plist>
